# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Virtual Environments 
.venv/
venv/
ENV/
env/

# Operating System Files
Thumbs.db
desktop.ini
.DS_Store

# Lokale Logs & Berichte
Download_Organizer_Logs/
*.log
sort_report.txt
