# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Virtual Environments (на случай, если используете venv)
.venv/
venv/
ENV/
env/

# Operating System Files
Thumbs.db
desktop.ini
.DS_Store

# Local Logs & Reports (если логи создаются внутри папки проекта)
*.txt
*.log
